header {
  text-align: center;
}


img {
  display: block;
  margin: 0 auto;
}


nav a {
  padding: 10px;
  background-color: grey;
  text-decoration: none;
  color: white;
  display: inline-block;
  margin: 0 10px;
}


figcaption {
  text-align: center;
  font-size: 14px;
}


#featured-property p {
  width: 800px;
  margin: 0 auto;
  text-align: center;
  padding: 10px;
}


#details {
  width: 100%;
}

#details div {
  float: left;
  width: 25%;
  text-align: center;
  background-color: lightgrey;
  padding: 10px;
}
